<div class="container">



<h1><%= vagary.idea %></h1>
<p><%= vagary.description %></p>

<hr />

<h3><%= vagary.type %></h3>
<p>
| <a href="/vagary/view/<%= vagary.id %>"> View </a>
| <a href="/vagary/edit/<%= vagary.id %>"> Edit </a>
| <a href="/vagary/destroy/<%= vagary.id %>"> Delete </a>
</p>


</div>
